body {
color:#646464;
background-color:#000;
}
a{
color:#a61515;
}
span.error{
color:#a61515;
}
/*----------------------headers-p-a-style------------------------------*/
h1{color:#fff;padding:25px 0 25px 0;margin:0px;font-size:22px;font-weight:normal;}
h1 a{color:#fff;margin:0px;font-weight:normal;text-decoration:none;}

h2{color:#a61515;padding:25px 0 25px 0;margin:0px;font-size:18px;font-weight:normal;}
h2 a{color:#a61515;margin:0px;font-weight:normal;text-decoration:none;}

h3{color:#a61515;padding:15px 0 5px 0;margin:0px;font-size:18px;font-weight:normal;}
h3 a{color:#a61515;margin:0px;font-weight:normal;text-decoration:none;}

h2.title{color:#a61515;padding:25px 0 25px 0;margin:0px;font-size:18px;font-weight:normal; text-transform:capitalize;}
h2.title a{color:#a61515;margin:0px;font-weight:normal;text-decoration:none;}

/*------------------logo style----------------*/
#logo h1{
color:#a61515;font-size:60px;padding:0px;margin:0px; font-weight:normal;
}
#logo h1 a{
color:#a61515;font-size:60px;padding:0px;margin:0px; font-weight:normal; text-decoration:none;
}
.description{
font-size:16px;
color:#FFFFFF;
padding:0 0 0 60px;
}

/*--------------------------search-tabs----------*/
.tab a.open {background: url(images/bt_open.gif) no-repeat right;color: #646464;}
.tab a.close {background: url(images/bt_close.gif) no-repeat right;color: #a61515;}
.tab a:hover.open {background: url(images/bt_open_a.gif) no-repeat right;color: #a61515;}
.tab a:hover.close {background: url(images/bt_close_a.gif) no-repeat right;color: #646464;}

input.search_input{
color:#FFFFFF;
background-color:#111111;
border:1px #2F2F2F solid;
}
input.searchsubmit{
color:#646464;
}
/*------------------slider----------------------*/
.slider_container{
background:url(images/slider_bg_bottom.gif) no-repeat center bottom;
}
#main_container {
background:url(images/container_top_bg.jpg) no-repeat center top;
}

/*----------------------top-menu----------------*/
.ddsmoothmenu{
background:url(images/menu_bg_left.jpg) no-repeat left;
}
.ddsmoothmenu ul{
background:url(images/menu_bg_right.jpg) no-repeat right;
}
.ddsmoothmenu ul li.current_page_item a, .ddsmoothmenu ul li.current-cat a, .ddsmoothmenu ul li.current-cat-parent a{
color:#FFFFFF;
}

.ddsmoothmenu ul li a{
color:#bcbcbc;
}
.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
color:#bcbcbc;
}
.ddsmoothmenu ul li a.selected{ /*CSS class that's dynamically added to the currently active menu items' LI A element*/
color:#fff;
}
.ddsmoothmenu ul li a:hover{
color:#fff;
}


.ddsmoothmenu ul li ul{
background-color:#141615;
background-image:none;
}
.ddsmoothmenu ul li ul li a{
color:#939393;
border-bottom:1px #2C2F2D solid;
}
/*------------------home-cotent----------------*/
img.about_pic{
border:1px #313131 solid;
}
.about_block{
background:url(images/about_block_bottom.gif) no-repeat bottom center;
}
/*------------------social-icons---------------*/
a.rss{ width:24px; height:24px; float:left; display:block; padding:0 10px 0 0; background:url(images/rss.jpg) no-repeat center;}
a.rss:hover{background:url(images/rss_a.jpg) no-repeat center;}

a.delicious{ width:24px; height:24px; float:left; display:block; padding:0 10px 0 0; background:url(images/delicious.jpg) no-repeat center;}
a.delicious:hover{background:url(images/delicious_a.jpg) no-repeat center;}

a.digg{ width:24px; height:24px; float:left; display:block; padding:0 10px 0 0; background:url(images/digg.jpg) no-repeat center;}
a.digg:hover{background:url(images/digg_a.jpg) no-repeat center;}

a.reddit{ width:24px; height:24px; float:left; display:block; padding:0 10px 0 0; background:url(images/reddit.jpg) no-repeat center;}
a.reddit:hover{background:url(images/reddit_a.jpg) no-repeat center;}

a.twitter{ width:24px; height:24px; float:left; display:block; padding:0 10px 0 0; background:url(images/twitter.jpg) no-repeat center;}
a.twitter:hover{background:url(images/twitter_a.jpg) no-repeat center;}

/*--------------------post-----------------------*/
.home_post{
background:url(images/home_post_bg.gif) no-repeat center bottom;
}
.post_date{background-color:#111111;color:#2c2c2c;}
.post_details h2 a{color:#646464;}

.post_details_archive{background:url(images/about_block_bottom.gif) no-repeat center bottom;}
.post_details_archive h2{color:#FFFFFF;}
.post_details_archive h2 a{color:#fff;}

.page_details{background:url(images/about_block_bottom.gif) no-repeat center bottom;}

.entry img{
border:1px #2F2F2F solid;
}

/*----------------photo-thumbs-----------------*/
.photo_thumb{
background-color:#2F2F2F;
}
.photos_subcategories{
background-color:#2F2F2F;
}
.photos_subcategories ul li a{
color:#FFFFFF;
}
.photos_subcategories ul li.current-cat a{
color:#a61515;
}
.photos_subcategories ul li a:hover{
color:#a61515;
}

/*---------------sidebar------------------------*/
#sidebar ul li ul{
border-top:1px #2F2F2F solid;
}
#sidebar ul li ul li{
border-bottom:1px #2F2F2F solid;
}
#sidebar ul li ul li a{
color:#646464;
}
#sidebar ul li ul li a:hover{
color:#FFFFFF;
}

#sidebar-page ul li ul{
border-top:1px #2F2F2F solid;
}
#sidebar-page ul li ul li{
border-bottom:1px #2F2F2F solid;
}
#sidebar-page ul li ul li a{
color:#646464;
}
#sidebar-page ul li ul li a:hover{
color:#FFFFFF;
}

#sidebar-page ul li ul.sidebar_featured_photos li a{
border:1px #2F2F2F solid;
}
#sidebar-page ul li ul.sidebar_featured_photos li a:hover{
border:1px #fff solid;
}

.textwidget{
border-bottom:1px #2F2F2F solid;
border-top:1px #2F2F2F solid;
}

/*---------------------------form style------------------*/
.formrow input{
background-color:#111111;
border:1px #2F2F2F solid;
color:#646464;
}
.formrow input#submit{
background-color:#111111;
border:1px #2F2F2F solid;
color:#646464;
}
.formrow textarea{
color:#646464;
background-color:#111111;
border:1px #2F2F2F solid;
}

.commentlist li {
border-top:1px #2F2F2F solid;
border-bottom:1px #2F2F2F solid;
}

.avatar { 
border: 1px solid #2F2F2F;
}
/*-------------------------------navigation------------*/
.alignright {
float: right;
background:url(images/nextentries.gif) no-repeat right;
}
.alignleft {
float: left;
background:url(images/preventries.gif) no-repeat left;
}
.navigation a, .navigation_photos a{
color:#FFFFFF;
padding:3px 25px 3px 25px;
}
blockquote {
border-bottom:1px #2F2F2F dashed;
border-top:1px #2F2F2F dashed;
}
/*----------------------------footer------------------*/
#footer {
background:url(images/footer_bg.gif) no-repeat center top;
}
.right_footer ul li a{
color:#787b7a;
}
.right_footer ul li a:hover{
color:#FFFFFF;
}
